@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("images/mountain.jpg") center center;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 40vh;
  }
}

.nav {
  padding: 20px 0;
  background-color: #0a1214;
}

.nav-logo-link:link,
.nav-logo-link:visited {
  text-decoration: none;
  color: #c24606;
  letter-spacing: 2px;
  font-size: 2rem;
  font-family: "Bitter", serif;
}

.nav-menu {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0a1214;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s ease;
  }
}

@media only screen and (max-width: 600px) {
  .nav-menu.open {
    transform: translateX(0);
  }
}

.nav-menu-link:link,
.nav-menu-link:visited {
  text-decoration: none;
  color: #c24606;
  transition: all 0.4s ease;
  font-size: 18px;
}

.nav-burger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-burger {
    display: block;
  }
}

.nav-burger-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.nav-burger-item,
.nav-burger-item::after,
.nav-burger-item::before {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #c24606;
}

.nav-burger-item {
  position: relative;
  transition: all 0.1s ease;
}

.nav-burger-item::after,
.nav-burger-item::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s ease;
}

.nav-burger-item::after {
  top: 7px;
}

.nav-burger-item::before {
  top: -7px;
}

.closed .nav-burger-item::after,
.closed .nav-burger-item::before {
  top: 0;
}

.closed .nav-burger-item {
  background-color: transparent;
}

.closed .nav-burger-item::after {
  transform: rotate(135deg);
}

.closed .nav-burger-item::before {
  transform: rotate(-135deg);
}

div.hero-content {
  padding-top: 5em;
}

div.hero-content h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  padding-top: 3em;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

p {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

div.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 160px;
  border: 1px solid #fff;
  border-radius: 25px;
  margin: 20px 20px 20px 20px;
  background: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  overflow: hidden;
}

a {
  color: #c24606;
  text-decoration: none;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 a {
  position: relative;
  transition: all 0.35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #c24606;
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover a {
  color: #fff;
}

@media (max-width: 768px) {
  div.hero-content {
    padding-top: 2em;
  }

  div.hero-content h4 {
    font-size: 1.2rem;
    padding-top: 3em;
  }

  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 0.8rem;
  }

  .button {
    height: 40px;
    width: 140px;
    font-size: 0.9rem;
  }
}

/* About Styling Starts */
section#about {
  padding: 5em;
}

div.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.about-content h3 {
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 1px;
}

div.about-par {
  padding-top: 15px;
}

div.about-par p {
  color: #535a62;
}

@media (max-width: 768px) {
  section#about {
    padding: 2em;
  }

  div.about-content h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  div.about-par p {
    font-size: 0.9rem;
  }
}

div.about-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

div.about-card-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 40px;
}

div.about-cards {
  margin: 15px;
}

div.about-cards:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

div.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.about-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

div.about-image img:hover {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #c24606;
}

div.about-cards h3 {
  text-align: center;
  padding-top: 7px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

div.about-cards h5 {
  text-align: center;
  padding-top: 7px;
  color: #c24606;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

div.about-cards p {
  text-align: center;
  color: #535a62;
  padding-top: 7px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  div.about-card-container {
    padding: 3em;
  }

  div.about-card-area {
    display: flex;
    flex-direction: column;
  }

  div.about-cards p {
    font-size: 0.8rem;
  }
}

/* Mission styling starts */
section#mission-container {
  padding: 5em;
  background: #f9f9f9;
}

div.mission-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.mission-grid img {
  width: 550px;
  height: 450px;
  position: absolute;
}

div.mission-grid-box {
  position: relative;
  right: -20px;
  top: 25px;
  padding: 15px 30px;
  width: 600px;
  height: 380px;
  z-index: 2;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

div.mission-grid-box h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

div.mission-grid-box h4 {
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: #535a62;
}

div.mission-grid-box h5 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: #535a62;
  padding-top: 15px;
}

div.mission-boxes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
}

div.mission-boxes {
  background: #f2f2f2;
  width: 180px;
  height: 150px;
  padding: 15px 30px;
}

div.mission-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.mission-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

div.mission-boxes h4 {
  text-align: center;
  font-size: 0.9rem;
  padding-top: 10px;
}

div.mission-boxes:hover {
  background: #c24606;
  color: #fff;
}

div.mission-boxes h4:hover {
  color: #fff;
}

@media (max-width: 768px) {
  section#mission-container {
    padding: 0;
  }

  div.mission-content {
    display: flex;
    flex-direction: column;
  }

  div.mission-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20em;
  }

  div.mission-grid img {
    width: 400px;
    height: 300px;
    position: none;
  }

  div.grid-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.mission-grid-box {
    position: none;
    right: none;
    bottom: none;
    padding: none;
    width: 400px;
    height: 380px;
    z-index: none;
    box-shadow: none;
  }

  div.mission-boxes-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  div.mission-grid-box h3 {
    font-size: 1.2rem;
  }

  div.mission-grid-box h4 {
    font-size: 0.7rem;
  }

  div.mission-grid-box h5 {
    font-size: 0.8rem;
    padding-top: 15px;
  }

  div.mission-boxes {
    width: 300px;
    height: 100px;
    padding: 15px 30px;
    margin-bottom: 10px;
  }

  div.mission-img img {
    width: 50px;
    height: 50px;
  }
}
