@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("images/mountain.jpg") center center;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 50vh;
  }
}

.nav {
  padding: 20px 0;
  background-color: #0a1214;
}

.nav-logo-link:link,
.nav-logo-link:visited {
  text-decoration: none;
  color: #c24606;
  letter-spacing: 2px;
  font-size: 20px;
}

.nav-menu {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0a1214;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s ease;
  }
}

@media only screen and (max-width: 600px) {
  .nav-menu.open {
    transform: translateX(0);
  }
}

.nav-menu-link:link,
.nav-menu-link:visited {
  text-decoration: none;
  color: #c24606;
  transition: all 0.4s ease;
  font-size: 18px;
}

.nav-burger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-burger {
    display: block;
  }
}

.nav-burger-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.nav-burger-item,
.nav-burger-item::after,
.nav-burger-item::before {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #c24606;
}

.nav-burger-item {
  position: relative;
  transition: all 0.1s ease;
}

.nav-burger-item::after,
.nav-burger-item::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s ease;
}

.nav-burger-item::after {
  top: 7px;
}

.nav-burger-item::before {
  top: -7px;
}

.closed .nav-burger-item::after,
.closed .nav-burger-item::before {
  top: 0;
}

.closed .nav-burger-item {
  background-color: transparent;
}

.closed .nav-burger-item::after {
  transform: rotate(135deg);
}

.closed .nav-burger-item::before {
  transform: rotate(-135deg);
}

div.hero-content {
  padding-top: 5em;
}

div.hero-content h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  padding-top: 3em;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

p {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

div.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 160px;
  border: 1px solid #fff;
  border-radius: 25px;
  margin: 20px 20px 20px 20px;
  background: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  overflow: hidden;
}

a {
  color: #c24606;
  text-decoration: none;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 a {
  position: relative;
  transition: all 0.35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #c24606;
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover a {
  color: #fff;
}

@media (max-width: 768px) {
  div.hero-content h4 {
    font-size: 1.2rem;
    padding-top: 3em;
  }

  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 0.8rem;
  }

  .button {
    height: 40px;
    width: 140px;
    font-size: 0.9rem;
  }
}
